<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.departmentMapper">

    <!--增加部门-->
    <insert id="addDepartment"  parameterType="department">
        insert into department(department_name,principal)
        values(#{departmentName},#{principal})
    </insert>

    <!--修改部门-->
    <update id="modifyDepartment" parameterType="department">
        update department
          department_name = #{departmentName},principal=#{principal}
        <set>
            <if test="departmentName != null">department_name=#{departmentName},</if>
            <if test="principal != null">principal=#{principal}</if>
        </set>
        where id=#{id}
    </update>

</mapper>