<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.noticeMapper">

    <!--查询发布的所有公告信息-->
    <select id="getNoticeList" resultType="Notice">

        select n.id,e.name,n.header,n.content,n.notice_time from notice n,employee e where n.employee_id=e.id;

    </select>

    <!--根据id查询对应的公告消息-->
    <select id="getNoticeDetail" resultType="Notice" parameterType="int">
        select n.id,e.name,n.header,n.content,n.notice_time from notice n,employee e where n.employee_id=e.id and n.id=#{id};
    </select>

    <!--测试图片的插入-->
    <insert id="addImage" parameterType="com.demo.domain.Image">
        insert into image(img) values(#{img})
    </insert>

    <!--员工发布新公告-->
    <insert id="addNotice" parameterType="NoticeVo">
        insert into notice(employee_id,header,content,notice_time) values(#{id},#{header},#{content},#{noticeTime})
    </insert>
</mapper>