<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.noticeMapper">

    <!--查询发布的所有公告信息-->
    <select id="getNoticeList" resultType="Notice">

        select n.id,n.employee_id,n.header,n.content,n.notice_time from notice n;

    </select>

</mapper>