<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.mobilizeMapper">

    <!--返回所有工作调动记录-->
    <select id="getAllMobilize" resultType="MobilizeRecord">
        select e.name,m.* from employee e,mobilize m where e.id=m.employee_id ORDER BY m.transfer_date DESC
    </select>


    <!--根据员工id返回工作调动记录-->
    <select id="getMobilizeWithId" resultType="MobilizeRecord" parameterType="int">
        select e.name,m.* from employee e,mobilize m where e.id=m.employee_id and m.employee_id=#{id} ORDER BY m.transfer_date DESC
    </select>


    <!--返回工作调动的记录数和员工姓名id-->
    <select id="getMobilizeWithName" resultType="java.util.Map">
        select e.name,m.employee_id,e.position,e.department_id,count(m.employee_id) as count from mobilize m left join employee e on m.employee_id=e.id
        GROUP BY(m.employee_id) HAVING count(m.employee_id)>0
    </select>


    <!--为员工指派任务-->
    <insert id="addTask" parameterType="Task">
        insert into task(employee_id,work_content,status,start_time,end_time)
        values(#{employeeId},#{workContent},#{status},#{startTime},#{endTime})
    </insert>

    <!--返回任务指派列表-->
    <select id="getTaskList" resultType="java.util.Map">
        select  t.*,e.name from task t,employee e where e.id=t.employee_id
    </select>
</mapper>