<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.AllMapper">


    <!--查询所有员工信息-->
    <select id="findAllEmployee" resultType="Employee">

        select * from employee;

    </select>

    <!--查询指定页数的5条员工信息  0到4   5到9  10到14 -->
    <select id="findAnyEmployee" resultType="Employee" parameterType="int">

        select * from employee limit #{page},9;

    </select>

    <!--根据员工id查询某个员工信息-->
    <select id="queryEmployee" resultType="Employee" parameterType="int">
        
        select * from employee where id=#{id};
        
    </select>

    <!--查询所有部门信息-->
    <select id="queryAllDepartment" resultType="Department">

        select * from department;

    </select>


    <!--根据部门id查询该部门员工信息-->
    <resultMap id="resultDepartmentEmployee" type="DepartmentAndEmployee">
        <result property="departmentName" column="department_name"></result>
        <collection property="employeeList" ofType="com.demo.domain.Employee" column="department_id">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="phone" column="phone"/>
        </collection>
    </resultMap>
    <select id="getDepartmentEmployee" resultMap="resultDepartmentEmployee" parameterType="int">
        select d.department_name,e.id,e.name,e.sex,e.phone from employee e,department d where d.id=e.department_id and d.id=#{id}

    </select>
    <select id="getDepartmentEmployeeAll" resultMap="resultDepartmentEmployee">
        select d.department_name,e.id,e.name,e.sex,e.phone from employee e,department d where d.id=e.department_id

    </select>


    <!--根据员工Id查询能力评估信息-->
    <resultMap id="resultEmployeeEvaluation" type="EmployAndDepartment">
        <result property="name" column="name"></result>
        <collection property="evaluationList" ofType="com.demo.domain.Evaluation" column="employee_id">
            <id property="id" column="id"></id>
            <result property="evaluationContent" column="evaluation_content"></result>
            <result property="evaluationTime" column="evaluation_time"></result>
            <result property="evaluationLevel" column="evaluation_level"></result>
            <result property="certificate" column="certificate"></result>
            <result property="remark" column="remark"></result>
        </collection>
    </resultMap>
    <select id="getEmployeeEvaluation" resultMap="resultEmployeeEvaluation" parameterType="int">
        
        select u.name,e.* from employee u,evaluation e where e.employee_id=#{id}

    </select>

    <!--返回员工id姓名，照片，能力等级-->
    <resultMap id="resultEmployeeLevel" type="Employee">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="evaluationList" ofType="com.demo.domain.Evaluation" column="employee_id">
            <result property="evaluationLevel" column="evaluation_level"/>
        </collection>
    </resultMap>

    <select id="findEmployeeLevel" resultMap="resultEmployeeLevel">
        select u.id,u.name,e.evaluation_level from employee u,evaluation e where u.id=e.employee_id
    </select>

    <!--返回员工，部门，能力评估所有信息-->
    <resultMap id="resultEED" type="Employee">
        <id property="id" column="id"></id>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="native_place" column="native_place"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="education" column="education"/>
        <result property="school" column="school"/>
        <result property="email" column="email"/>
        <result property="professional" column="professional"/>
        <result property="remark" column="remark"/>
        <association property="department" javaType="com.demo.domain.Department" column="department_id">
            <result property="departmentName" column="department_name"/>
            <result property="principal" column="principal"/>
        </association>
        <collection property="evaluationList" ofType="com.demo.domain.Evaluation" column="employee_id">
            <result property="evaluationContent" column="evaluation_content"></result>
            <result property="evaluationTime" column="evaluation_time"></result>
            <result property="evaluationLevel" column="evaluation_level"></result>
            <result property="certificate" column="certificate"></result>
            <result property="departmentLevel" column="department_level"></result>
        </collection>
    </resultMap>
    <select id="findEED" resultMap="resultEED" parameterType="int">
        select * from employee u,department d,evaluation e where u.department_id=d.id and u.id=e.employee_id and u.id=#{id}
    </select>
</mapper>