<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.myMapper">

    <!--根据id查询我的任务-->
    <select id="getTaskById" resultType="java.util.Map">
        select * from task t where t.employee_id=#{id}
    </select>

    <!--插入用户头像地址到数据库-->
    <update id="addImage" parameterType="com.demo.domain.Image">
        update user SET picture=#{picture} where userId=#{userId}
    </update>
    <!--获取用户的图片地址-->
    <select id="getImageById" parameterType="int" resultType="String">
        select picture from user where userId=#{userId}
    </select>
    <!--返回我的工作调动记录-->
    <select id="getMyMobilizeList" resultType="java.util.Map" parameterType="int">
         select * from mobilize where employee_id=#{id} ORDER BY transfer_date DESC
    </select>

    <!--返回我的加班申请-->
    <select id="getMyOvertimeList" parameterType="int" resultType="java.util.Map">
        select * from overtime where id=#{id} ORDER BY startTime DESC
    </select>

    <!--返回我的工资单记录-->
    <select id="getMyMoneyList" parameterType="int" resultType="java.util.Map">
        select * from wage where employee_id=#{id}
    </select>

    <!--根据id查找部门姓名-->
    <select id="getDepartmentName" resultType="String" parameterType="int">
        select department_name FROM department where id=#{id}
    </select>

    <!--根据id修改任务完成状态-->
    <update id="updateTaskStatus" parameterType="int">
        update task set status=1 where id=#{id}
    </update>

    <!--验证用户登录-->
    <select id="getPassword" resultType="java.util.Map" parameterType="int">
        select password,phone from user where userId=#{id}
    </select>

    <!--修改密码-->
    <update id="updatePassword" parameterType="com.demo.domain.employee.UpdatePassword">
        update user set password=#{newPassword} where userId=#{id}
    </update>

    <!--查找要修改的手机号是否已存在-->
    <select id="getPhone" parameterType="String" resultType="int">
        select count(*) as count from user where phone=#{phone}
    </select>
    <!--修改员工表的手机号-->
    <update id="updatePhone" parameterType="com.demo.domain.employee.EmployeeVo">
        update employee set phone=#{phone} where id=#{id};
        update user set phone=#{phone} where userId=#{id}
    </update>
    <!--修改用户表的手机号-->
    <update id="updateUserPhone" parameterType="com.demo.domain.employee.EmployeeVo">
       update user set phone=#{phone} where userId=#{id}
    </update>
    <!--修改用户的地址-->
    <update id="updateAddress" parameterType="com.demo.domain.employee.EmployeeVo">
       update employee set address=#{address} where id=#{id}
    </update>
    <!--修改用户学校-->
    <update id="updateSchool" parameterType="com.demo.domain.employee.EmployeeVo">
       update employee set school=#{school} where id=#{id}
    </update>
    <!--修改用户的专业-->
    <update id="updateProfessional" parameterType="com.demo.domain.employee.EmployeeVo">
       update employee set professional=#{professional} where id=#{id}
    </update>
    <!--修改用户的生日-->
    <update id="updateBirthday" parameterType="com.demo.domain.employee.EmployeeVo">
       update employee set birthday=#{birthday} where id=#{id}
    </update>
    <!--修改用户的性别-->
    <update id="updateSex" parameterType="com.demo.domain.employee.EmployeeVo">
       update employee set sex=#{sex} where id=#{id}
    </update>
    <!--根据手机号和邮箱查找用户id-->
    <select id="getEmployeeIDByPE" parameterType="com.demo.domain.employee.Employee" resultType="Employee">
      select id,count(*) as sex from employee where phone=#{phone} and email=#{email}
    </select>
</mapper>