<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.myMapper">

    <!--根据id查询我的任务-->
    <select id="getTaskById" resultType="java.util.Map">
        select * from task t where t.employee_id=#{id}
    </select>

    <!--插入用户头像地址到数据库-->
    <update id="addImage" parameterType="com.demo.domain.Image">
        update user SET picture=#{picture} where userId=#{userId}
    </update>

</mapper>