<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.demo.dao.myMapper">

    <!--根据id查询我的任务-->
    <select id="getTaskById" resultType="java.util.Map">
        select * from task t where t.employee_id=#{id}
    </select>

    <!--插入用户头像地址到数据库-->
    <update id="addImage" parameterType="com.demo.domain.Image">
        update user SET picture=#{picture} where userId=#{userId}
    </update>

    <!--返回我的工作调动记录-->
    <select id="getMyMobilizeList" resultType="java.util.Map" parameterType="int">
         select * from mobilize where employee_id=#{id} ORDER BY transfer_date DESC
    </select>

    <!--返回我的加班申请-->
    <select id="getMyOvertimeList" parameterType="int" resultType="java.util.Map">
        select * from overtime where id=#{id} ORDER BY startTime DESC
    </select>

    <!--返回我的工资单记录-->
    <select id="getMyMoneyList" parameterType="int" resultType="java.util.Map">
        select * from wage where employee_id=#{id}
    </select>

    <!--根据id查找部门姓名-->
    <select id="getDepartmentName" resultType="String" parameterType="int">
        select department_name FROM department where id=#{id}
    </select>

    <!--根据id修改任务完成状态-->
    <update id="updateTaskStatus" parameterType="int">
        update task set status=1 where id=#{id}
    </update>
</mapper>